@media (max-width: 1440px) {

    .header {
        left: 38%;
    }

    .tarif p {
        font-size: 14px;
    }

    .tarif {
        column-gap: 0;
        width: 100%;
        padding: 40px 100px 40px 30px;
    }

    .shop__title {
        font-size: 24px;
    }

    .header2 {
        position: absolute;
        width: 100%;
        flex-wrap: wrap;
        left: 30%;
    }

    .reff {
        width: 850px;
        margin-left: 25px;

    }

    .header__cards {
        column-gap: 30px;
    }

    .br1 {
        display: block;
    }

    .icons {
        width: 70px;
    }

    .aside {
        width: 100px;
    }

    .login__btn {
        font-size: 16px;
        padding: 5px 10px;
    }

    .aside__user {
        left: 100px;
        width: 400px;
    }

    .header__card {
        width: 200px;
    }

    .header__cards {
        display: flex;
        justify-content: unset;
        width: 885px;
    }

    .copy__link {
        width: max-content;
    }

    .header2 .container {
        position: fixed;
        left: 34%;
    }
}

@media (max-width: 1366px) {

    .logo__name {
        display: none;
    }

    .aside__logo {
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }

    .shop__txt-part {
        width: 300px;
        margin: 20px;
    }

    .icons {
        width: 60px;
    }

    .aside {
        width: 90px;
    }

    .login__btn {
        display: none;
    }

    .login__btn-change {
        display: block;
        position: absolute;
        left: 30px;
    }

    .aside__user {
        left: 90px;
        width: 350px;
    }

    .mining__title {
        font-size: 26px;
        width: 100%;
    }

    .header__card {
        width: 300px;
        transition: .5s;
    }

    .tg__plane {
        transition: .5s;
    }

    .copy__link {
        transition: .1s;
    }

    .copy__link:focus {
        color: white;
        background: #7a3a7f;
    }

    .header__card:hover {
        color: white;
        background: #7a3a7f;
    }

    .header__card:hover .tg__plane {
        color: white;
    }

    .header__cards {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        row-gap: 30px;
        justify-content: start;
    }

    .reff {
        width: 500px;
    }

    .reff__txt {
        font-size: 18px;
    }

    .wallet__fl {
        width: 100%;
    }

    .wallet__fl2 {
        width: 100%;
    }

    .pay__btn {
        width: 100%;
        text-align: center;
        font-size: 18px;
        column-gap: 20px;
    }

    .header {
        left: 30%;
    }

    .bonus {
        top: 10%;
    }

    .wallet {
        padding: 0 20px 0 0;
    }

    .header2 .container {
        left: 32%;
    }

}

@media (max-width: 1320px) {

    .tarif {
        padding: 40px 25px 40px 30px;
        margin: 20px 27px;
    }

    .earn__quantity {
        font-size: 12px !important;
    }

    .icons {
        width: 60px;
    }

    .aside {
        width: 90px;
    }

    .login__btn {
        display: none;
    }

    .login__btn-change {
        display: block;
        position: absolute;
        left: 30px;
    }

    .aside__user {
        left: 90px;
        width: 350px;
    }

    .mining__title {
        font-size: 26px;
        width: 100%;
    }

    .header__card {
        width: 300px;
        transition: .5s;
    }

    .tg__plane {
        transition: .5s;
    }

}

@media (max-width: 1290px) {

    .tarif {
        padding: 40px 25px 40px 15px;
        margin: 20px 30px;
    }

    .aside {
        width: 90px;
    }

    .login {
        margin-left: -5px;
    }

    .aside__logo {
        width: 50px;
        height: 50px;
    }

    .icons {
        width: 60px;
    }

    .aside__user {
        left: 90px;
        width: 350px;
    }

    .cost * {
        font-size: 24px;
    }

    .wallet {
        padding: 0 35px 0 0;
    }

    .wallet__fl2 {
        padding: 20px 25px;
        border-bottom: 5px solid #7a3a7f;
    }

    .wallet__fl {
        padding: 20px 25px;
        border-bottom: 5px solid #7a3a7f;

    }

    .header__shop {
        max-width: 800px;
        width: 100%;
    }

    .header {
        left: 31%;
    }

    .bonus {
        padding: 20px 15px;
    }

    .header2 .container {
        left: 33%;
    }


}

@media (max-width: 1140px) {

    .icons {
        width: 50px;
    }

    .aside {
        width: 80px;
    }

    .login__btn {
        position: relative;
        width: 70px;
        height: 30px;
        opacity: 0;
    }

    .none {
        display: block;
        position: absolute;
        top: 120px;
        left: 35%;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 20px;
    }

    .aside__user {
        left: 80px;
        width: 100%;
        position: fixed;
        height: 500px;
    }

    .pay__btns {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    .pay__btn {
        width: max-content;
    }

    .wallet__fl,
    .wallet__fl2 {
        width: 93%;
    }

    .header {
        top: 65%;
        left: 15%;
    }

    .tarif {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 50px;
        margin: 20px 20px;
        background: #e1e3ef;
        padding: 20px 100px 20px 30px;
        height: 150px;
    }

    .tarif p {
        font-size: 14px;
    }

    .shop__txt-part {
        width: 700px;
    }

    .header__title {
        margin-top: 0;
    }

    .header__shop {
        display: flex;
        align-items: center;
        overflow: scroll;
    }


    .header__container {
        padding: 0 0;
    }

    .bonus {
        left: 25%;
    }

    .payment {
        top: 30%;
    }

    .header2 .container {
        left: 5%;
        top: 50%;
    }

    .header__cards {
        width: 100%;
        flex-wrap: nowrap;
        column-gap: 30px;
    }

    .header__card {
        width: 200px;
    }

    .tarif {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: max-content;
        padding: 40px 50px;
    }

    .shop__does {
        display: none;
    }

    .shop__txt-part {
        width: max-content;
    }

    .tarif p {
        text-align: center;
    }

    .earn__quantity {
        display: inline-block;
        margin: 20px 0;
    }


}

@media (max-width: 1024px) {

    .header2 .container {
        top: 51%;
        left: 7%;
    }

    .reff__txt {
        font-size: 18px;
        width: max-content;
    }

    .copy__link {
        font-size: 16px;
    }

    .reff {
        width: 700px;
    }

    .payment {
        left: 25%;
        z-index: 9;
    }

    .bonus {
        left: 22%;
        z-index: 10;
    }

    .header {
        top: 55%;
        left: 10%;
    }

}

@media (max-width: 992px) {

    .header2 .container {
        left: 5.5%;
        top: 70%;
    }

    .bonus {
        top: 27%;
    }

    .header__card {
        width: 300px;
    }

    .header__cards {
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 auto;
        height: 200px;
    }

    .header {
        top: 50%;
    }


}

@media (max-width: 768px) {

    .aside__user {
        width: 750px;
    }

    .header {
        top: 550px;
    }

    .bonus {
        top: 150px;
        left: 20%;
        box-shadow: 0 0 10px 0 black;
        background: #b441a1;
        width: 500px;
    }

    .box__close2 {
        transform: translateX(400px) rotate(45deg);
    }

    .box__close {
        left: 85%;
    }

    .cards {
        width: 420px;
    }

    .header__right-icon {
        color: white;
    }

    .header__cost {
        color: white;
    }

    .payment {
        top: 150px;
        left: 20%;
        width: 500px;
    }

    .header__types {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .header2 .container {
        left: 10%;
    }

    .header__cards {
        display: flex;
        align-items: center;
        column-gap: 30px;
        overflow: scroll;
        padding: 20px 0;
    }

    .moeny__title {
        margin-left: -60px;
    }

    .input {
        font-size: 16px;
    }

    .pay__title {
        margin-left: 29%;
    }
}

@media (max-width: 667px) {

    .header2 .container {
        left: 14%;
    }

    .payment {
        box-shadow: 0 0 10px 0;
    }

    .aside__user {
        width: 590px;
    }

    .header__card {
        width: 250px;
    }

    .header {
        left: 14%;
    }

}

@media (max-width: 576px) {


    .header2 .container {
        left: 3%;
    }

    .bonus {
        left: 7%;
    }

    .header__title {
        display: none;
    }

    .start__up,
    .down__app,
    .online__users {
        display: none;
    }

    .payment {
        top: 150px;
        left: 0px;
        width: 100%;
        height: 500px;
        padding: 40px 65px;
    }

    .wallet__fl,
    .wallet__fl2 {
        width: 100%;
    }

    .header__card {
        width: 100%;
        margin: 0 auto;
    }

    .header__cards {
        width: 600px;
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    .tarif {
        height: 300px;
        width: max-content;
        margin-top: -50px;
        padding: 70px 20px 20px 20px;
    }

    .header {
        top: 68%;
    }

    .header__shop {
        top: 10%;
        width: 1000px;
        height: max-content;
    }

    .earn__quantity {
        display: none;
    }

    .aside__user {
        width: 495px;

    }

}

@media (max-width: 414px) {

    .header {
        left: 20%;
    }

    .aside__user {
        width: 100%;
        left: 0;
        top: 100px;
        height: 300px;
    }

    .case__money {
        padding: 10px 0;
    }

    .pay__btns {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0;
        padding: 20px 0;
    }

    .user__title {
        padding: 10px 0;
        text-align: center;
    }

    .wallet__fl2 {
        margin-top: 0;
    }

    .wallet__money {
        display: none;
    }

    .aside {
        display: inline-block;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 11;

    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 5px;
        margin-left: 20px;
        column-gap: 10px;
        overflow: scroll;
    }

    .high__quality,
    .low__quality {
        column-gap: 10px;
        text-align: justify;
        padding: 5px 0;
    }

    .pay__title {
        margin-left: 25%;
    }

    .input {
        font-size: 14px;
    }

    .money__box {
        width: 435px;
    }

    .box__close {
        left: 65%;
        top: 30px;
    }

    .payment {
        width: 414px;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }

    .pay__btn {
        width: 100%;
    }

    .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        top: 50px;
        background: #462377;
        padding: 10px 0;
        left: 0;
        margin: 0 auto;
    }

    .aside__logo {
        z-index: 12;
        transform: scale(0.7);
        margin: 0;
    }

    .logo__name {
        display: block;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .login {
        display: none;
    }

    .bonus .container {
        transform: scale(0.8);
    }

    .bonus {
        left: 1.5%;
        width: 400px;
        padding: 0;
    }

    .box__close2 {
        transform: translateX(350px) rotate(45deg);
    }

    .header {
        top: 500px;
    }

    .aside__user {
        width: 414px;
        padding: 2px 0 0 0;
    }

    .user__title {
        display: none;
    }

    .header__shop {
        margin-top: -80px;
        width: 100%;
        margin-left: -95px;
    }

    .header__cards {
        margin-top: -100px;
        margin-left: -31%;
        height: max-content;
    }

}

/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */